.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $primary-color;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerLogo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.headerSearch {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.headerSearchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.headerSearchButton {
  padding: 5px;
  height: 22px !important;
  background-color: $yellow-color;
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
}

.headerNavOption {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.headerNavOptionTitle {
  font-size: 10px;
}

.headerNavOptionItem {
  font-size: 13px;
  font-weight: 800;
}

.headerNavOptionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.headerNavBasketCount {
  margin-left: 10px;
  margin-right: 10px;
}
